### Exploring Recommendations on NYTImes Comments

One of the hypothesis is whether commenters with female names receive fewer "recommendatinos" relative to commenters with male sounding names

### Use the social security website to identify the more common gender for different names over the years

https://www.ssa.gov/oact/babynames/

I've scraped the data from 1970-2002 and stored the counts and names in a file on Canvas `Files/Data/gender_names_ssa.csv`.

Our data has the 500 most popular names for each birthyear from 1970-2002. Try to answer some of these questions:
- Which names can be both male and female according to this dataset?
- Do men or women have more unique names (does one gender "recycle" more)?
- Please create a data frame with one column of the name and one column with your predicted gender for that name.

In [1]:
gnames <- read.csv("../../../../usecases_data/name_gender_data_scrape/gender_names_ssa.csv")

In [2]:
head(gnames)

  X rank male_name   male_name_num female_name female_name_num year
1 0 1    Michael     85302         Jennifer    46157           1970
2 1 2    James       61759         Lisa        38963           1970
3 2 3    David       61752         Kimberly    34136           1970
4 3 4    John        58525         Michelle    34050           1970
5 4 5    Robert      57203         Amy         25209           1970
6 5 6    Christopher 41772         Angela      24927           1970

### Combining the 2 datasets

- Using your function above and the NYTimes comments data from your homework 1, how many commenters are likely men vs women vs unknown?
- save this merged dataset and call it `gendered_nytimes_comments.csv`
- Do the gender proportions change (of the commenter) if the author of the article is a certain gender?